body{
  font-family: "Lucia Grande", sans-serif;
  color: #FFFFFF;
  background-color: #000000;
}
h1{
  font-size: 64px;
  text-align: center;
}
h2{
  font-size: 32px;
  text-shadow: 5px 5px 2px #808080;
}
p{
  font-size: 24;
  padding-top: 20px;
}
img{
  
}
